{% extends "base.html" %}

{% block content %}
    <div>
		<a href="{% url 'core:mygeneric-list' %}">Back</a>
        <a href="{% url 'core:mygeneric-update' object.id %}">Edit</a>
        <a href="{% url 'core:mygeneric-delete' object.id %}">Delete</a>
	</div>
    <h2>MyGeneric {{ object.text_field }}</h2>
    <div>Int: {{ object.int_field }}</div>
{% endblock %}
