{% extends "base.html" %}

{% block content %}
<div><a href="{% url 'core:mygeneric-list' %}">Back</a></div>
<form action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Save" />
</form>
{% endblock %}
