{% extends "base.html" %}

{% block content %}
    <h2>MyGenerics</h2>
    <div>
        <a href="{% url 'core:mygeneric-new' %}">New mygeneric</a>
    </div>
    <ul>
        {% for mygeneric in object_list %}
            <li><a href="{% url 'core:mygeneric-detail' mygeneric.id %}">{{ mygeneric.text_field }}</a>: {{ mygeneric.int_field }}</li>
        {% endfor %}
    </ul>
{% endblock %}
