{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}{% endblock %}</title>
  <meta name="description" content="{% block description_content %}{% endblock %}">
</head>
<body>
  {% block content %}{% endblock content %}
  {% block javascript %}{% endblock %}
</body>
</html>
